{% extends 'flamework_app/base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 60px; width: 700px;">

        <div class="image-slide">
            {% for image in images %}
                <img src="{{ image.image.url }}" alt="">
            {% endfor %}
        </div>


        <div id="description">
            <h3 id="idea-title">{{ idea.title }}</h3>

            <p id="idea-description">{{ idea.description }}</p>

            <p><img src="{% static 'flamework_app/img/user_icon.png' %}" height="80px" alt=""></p>

            <p>
                <small>デザイナー</small>
                <br>小野寺ゆうたろう
            </p>
            <p>年齢：20歳　デザイナー歴：２ヶ月　活動時間：17:00~　住まい：渋谷区</p>
            <a href="{% url 'flamework_app:sell_completed' %}">
                <button class="btn btn-sm btn-warning">コンタクト申請する</button>
            </a>

        </div>
    </div>
{% endblock %}