{% extends 'flamework_app/base.html' %}

{% block content %}
  <div class="container" style="margin-top: 60px;width: 300px;">

    <form class="form" action="{% url 'flamework_app:register' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <h2 class="form-signin-heading">アイデア入力</h2>
      <label for="title" class="sr-only">タイトル</label>
      <input id="title" name="title" class="form-control" required autofocus>
      <label for="description" class="sr-only">説明</label>
      <textarea id="description" name="description" class="form-control" required></textarea>
      <input name="image" type="file" value="画像1">
      <input name="image" type="file" value="画像2">
      <input name="image" type="file" value="画像3">
      <input name="image" type="file" value="画像4">
      <input name="image" type="file" value="画像5">
      <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
    </form>

  </div>
{% endblock %}